#wpcontent,
#wpfooter,
.jetpack-pagestyles #wpcontent {
 margin-left: @sidebar-width;
}

.jetpack-pagestyles #wpcontent * {
  .box-sizing(content-box) !important;
}

#adminmenuback,
#adminmenu {
 // .transition(all 200ms linear);
}

#adminmenuback,
#adminmenuwrap, 
#adminmenu, 
#adminmenu .wp-submenu {
  //.make-md-column(2);
  //.make-sm-column(2.3);
  /* Offcanvas lenght */
  //.make-xs-column(6);
  width: @sidebar-width;

  height: auto;
  // background-color: @base-black;

  padding-left: 0;
  padding-right: 0;
}

#adminmenu .wp-submenu {
  left: @sidebar-width;
}

// Theme Overlay
.theme-overlay .theme-wrap {
  top: 100px;
  left: @sidebar-width + 30px;
}

// Admin Menu
#adminmenuback {
 bottom: 0;
 position: absolute;
 top: 0;
 z-index: 0;
 // background-color: @base-black;
}

// - - - - - - - - - - - - - - - - 
// Menu Items
// - - - - - - - - - - - - - - - -

#adminmenu a.menu-top,
#adminmenu .wp-submenu-head,
#collapse-menu {
  padding: 10px !important;
  text-transform: uppercase;
  font-size: 90% !important;
}

.wp-submenu {
  // background-color: @text-black-hover !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu a, 
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a, 
#adminmenu .wp-submenu .wp-submenu-head, 
#adminmenu .wp-submenu a, 
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu a, 
.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
  padding: 10px 20px;
}

// Separators: dark themes
//#adminmenu li.wp-menu-separator {
//  height: 0;
//  margin: 7px 0;
//  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
//  border-top: solid 1px rgba(0, 0, 0, 0.4);
//} 
//
//// Separators: light themes
//body.ultimo-wp-pro-theme-light {
// #adminmenu li.wp-menu-separator {
//    height: 0;
//    margin: 7px 0;
//    border-bottom: solid 1px rgba(255, 255, 255, 1);
//    border-top: solid 1px rgba(0, 0, 0, 0.08);
//  } 
//}

// Hide Separators
body:not(.ultimo-separators) {
  #adminmenu li.wp-menu-separator {
    display: none; 
  }
}

// Hide icons
body:not(.ultimo-icons):not(.folded) {
  .wp-menu-image {
    display: none; 
  }
  
  #adminmenu div.wp-menu-name {
    padding-left: 10px;
  }
}

#adminmenu {
  //margin: 0 0;
}

// - - - - - - - - - - - - - - - - 
// Folded Menu
// - - - - - - - - - - - - - - - -

.folded #adminmenuback,
.folded #adminmenuwrap, 
.folded #adminmenu, 
.folded #adminmenu li.menu-top {
  width: @sidebar-folded-width;
}

.folded #adminmenu a.menu-top {
  
}

.folded #adminmenu .wp-submenu {
  left: @sidebar-folded-width !important;
}

// - - - - - - - - - - - - - - - - 
// Folded Content
// - - - - - - - - - - - - - - - -

.folded #wpcontent,
.folded #wpfooter,
.jetpack-pagestyles #wpcontent {
  margin-left: @sidebar-folded-width;
}

// Theme Overlay
.folded .theme-overlay .theme-wrap {
  left: @sidebar-folded-width + 30px !important;
}

// 
// Ajusts
// 
@media only screen and (min-width: 782px) and (max-width: 960px) {
  .auto-fold #adminmenuback,
  .auto-fold #adminmenuwrap, 
  .auto-fold #adminmenu, 
  .auto-fold #adminmenu li.menu-top {
    width: @sidebar-folded-width;
  }

  .auto-fold #adminmenu a.menu-top {

  }

  .auto-fold #adminmenu .wp-submenu {
    left: @sidebar-folded-width !important;
  }

  // - - - - - - - - - - - - - - - - 
  // Folded Content
  // - - - - - - - - - - - - - - - -

  .auto-fold #wpcontent,
  .auto-fold #wpfooter,
  .jetpack-pagestyles #wpcontent {
    margin-left: @sidebar-folded-width;
  }

  // Theme Overlay
  .auto-fold .theme-overlay .theme-wrap {
    left: @sidebar-folded-width + 30px !important;
  }
}